.top {
  height: 4.2rem;
  background-color: #fffaf3;
  margin: 0.15rem 0;
  padding: 0.3rem;
  box-sizing: border-box;
  position: relative;
}

.top .signature p {
  float: left;
  width: 0.14rem;
  height: 3rem;
  font-size: 0.14rem;
  margin: 0.05rem;
  text-align: left;
}

.top .myinfo {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 3.3rem;
}

/* 头像自带背景光芒 */

@-webkit-keyframes light {
  0% {
    box-shadow: 0 0 1rem rgb(255, 253, 133, 1);
  }

  50% {
    box-shadow: 0 0 0.05rem rgba(255, 253, 133, 1);
  }

  100% {
    box-shadow: 0 0 1rem rgba(255, 254, 165, 1);
  }
}

@-moz-keyframes light {
  0% {
    box-shadow: 0 0 1rem rgba(255, 254, 165, 1);
  }

  50% {
    box-shadow: 0 0 0.05rem rgba(255, 253, 133, 1);
  }

  100% {
    box-shadow: 0 0 1rem rgba(255, 254, 165, 1);
  }
}

@keyframes light {
  0% {
    box-shadow: 0 0 1rem rgba(255, 254, 165, 1);
  }

  50% {
    box-shadow: 0 0 0.05rem rgba(255, 253, 133, 1);
  }

  100% {
    box-shadow: 0 0 1rem rgba(255, 254, 165, 1);
  }
}

.top .myinfo .beam {
  z-index: -1;
  position: absolute;
  z-index: 3;
  top: -0.2rem;
  right: -0.4rem;
  width: 2rem;
  height: 4rem;
  background: url(../img/beam.gif) no-repeat;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-animation: 5s linear 0s none infinite beam;
  -moz-animation: 5s linear 0s none infinite beam;
  animation: 5s linear 0s none infinite beam;
}

@-webkit-keyframes beam {
  0% {
    -webkit-transform: rotate(50deg);
  }

  50% {
    -webkit-transform: rotate(-15deg);
  }

  100% {
    -webkit-transform: rotate(50deg);
  }
}

@keyframes beam {
  0% {
    transform: rotate(50deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

.top .myinfo img {
  position: absolute;
  top: 0.1rem;
  right: 0.2rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fefa90;
  box-shadow: 0 0 0.5rem rgba(255, 253, 133, 1);
  -webkit-animation: 3s linear 0s none infinite light;
  -moz-animation: 3s linear 0s none infinite light;
  animation: 3s linear 0s none infinite light;
}

.top .myinfo .introduce {
  position: absolute;
  top: 1rem;
  right: 0.2rem;
  text-align: right;
  color: #333;
  font-size: 0.14rem;
}

.rotation {
  height: 2.1094rem;
  background-color: rgb(204, 255, 191);
  margin-bottom: 0.15rem;
}

.skill {
  position: relative;
  height: 3rem;
  background-color: rgb(255, 245, 191);
  margin-bottom: 0.15rem;
  /* padding: 20px; */
}

.story {
  height: 3rem;
  background-color: rgb(191, 255, 205);
  margin-bottom: 0.15rem;
}

.poetry {
  height: 3rem;
  background-color: rgb(255, 206, 191);
  margin-bottom: 0.15rem;
}

.photo {
  height: 3rem;
  background-color: rgb(197, 191, 255);
  margin-bottom: 0.15rem;
}

.demo {
  height: 3rem;
  background-color: rgb(191, 255, 225);
  margin-bottom: 0.15rem;
}

p.foods {
  text-align: center;
  margin-bottom: 0.2rem;
}

.foods span {
  font-size: 0.12rem;
  color: #777777;
}

.foods span.zhengyibk {
  display: block;
  margin-top: 0.12rem;
  color: #999999;
}